.containerEmployee {
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  border: 2px solid #eff3ff;
  margin: 50px 0;
}


.employees-Page {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}