.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.home input {
  display: block;
  margin: 10px 0;
  background-color: #e3e3e3;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  font-size: 1.2em;
}

.home label {
  max-width: 300px;
}


.containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.containerBtn button {
  background-color: var(--main-bg-btn);
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
}

.home fieldset {
  background-color: #f1f1f1;
  /*border: 1px solid #223069;*/
  border: none;
  width: 320px;
  padding: 10px;
  margin-bottom: 10px;
}


.home form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.home form input, .home label, .home fieldset label, .home fieldset input, .home form label, .home form input {
  width: 100%;
  max-width: 300px;
}
