.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  padding: 30px;
  margin: 50px 0 50px 0;
  border-radius: 10px;
  text-align: left;
}

.container form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container h2 {
  width: 100%;
  margin-bottom: 5px;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home input {
  width: 100%;
  display: block;
  margin: 10px 0;
  background-color: #eff3ff;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  font-size: 1.2em;
}

.containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;

}

.containerBtn button {
  background-color: var(--main-bg-btn);
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
  border: none;
}

.home fieldset {
  /*background-color: rgb(209, 213, 255);*/
  border: 3px dashed #eff3ff;
  border-radius: 10px;
  /*width: 320px;*/
  width: 100%;
  /*margin-bottom: 10px;*/
}

.home fieldset input {
  /*background: gray;*/
}


.home form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.home form input, .home label, .home fieldset label, .home fieldset input, .home form label, .home form input {
  width: 100%;
}
