.test {
  width: 100%;
  caret-color: transparent;
}

.test button {
  border: none;
}

.calendarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.backgroundCalendar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(255, 0, 0, 0.29);*/
  z-index: 800;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f3ff;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;

}

.parent {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  grid-auto-rows: minmax(30px, auto);
}

.parent div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 25px;
}

/*.parent div:hover {*/
/*  background-color: orange;*/
/*}*/

.previousNextDays {
  color: #cecece;
}

.days {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.allDays {
  cursor: pointer;
}

.allDays:hover {
  background-color: orange;
  border-radius: 10px;

}


.today {
  background-color: #223069;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.todayBtn {
  background-color: #223069;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;

}

.titleDate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*background-color: red;*/
}

.titleDateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px black solid;*/
  width: 25px;
  height: 25px;
  border-radius: 30px;
  background-color: transparent;
  font-size: 1.2em;
}