.inputCalendar {
  position: relative;
}

.inputCalendar button {
  background-color: #e3e3e3;
}

.inputCalendar li {
  cursor: pointer;
  font-size: 0.9em;
  padding: 5px;
}

.inputCalendar ul {
  position: absolute;
  background-color: #d3d3d3;
  max-width: fit-content;
  text-align: center;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;
  z-index: 2;
}