/*.tablerHead {*/
/*  display: flex;*/
/*  width: 100%;*/
/*}*/

.table th {
  cursor: pointer;
  background-color: #347385;
  padding: 10px 30px;
  text-align: center;
  color: white;
  /*display: flex;*/
  position: relative;
}


.table th img {
  width: 15px;
  margin-left: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  right: 0;
  top: 50%;
}

.reverseArray img {
  transform: translate(-50%, -50%) rotate(180deg) !important;

}

.table td {
  background-color: #61dafb;
  padding: 5px 10px;
  text-align: center;
}

