/*.table input {*/
/*  background-color: #e3e3e3;*/
/*  max-width: 300px;*/
/*  border: none;*/
/*  outline: none;*/
/*  height: 40px;*/
/*  border-radius: 5px;*/
/*  overflow: hidden;*/
/*  padding: 5px;*/
/*  font-size: 1.2em;*/
/*}*/

table {
  outline: none;
}


.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabler {
  /*border: 3px solid black;*/
}

.table th {
  cursor: pointer;
  padding: 20px 30px;
  text-align: center;
  position: relative;
  color: #414141;
}


.table th img {
  width: 12px;
  margin-left: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  right: 5px;
  top: 50%;
}

.reverseArray img {
  transform: translate(-50%, -50%) rotate(180deg) !important;

}

.tableData td {
  padding: 10px 10px;
  text-align: center;
  height: 20px;
  color: #424242;
}

.tablePair {
  background-color: #eff3ff;
}

.tableUnPair {
  /*background-color: #818ecc;*/
}


.pagination {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.pageBtn {
  background-color: #223069;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 100%;
}

.pageBtnActive {
  background-color: #445699;
}

.showEntries {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.tableEntriesInput {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.btnPage {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 20px;
}

.btnPageLeft {
  transform: rotate(180deg);
}