@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --main-bg-btn: #223069;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  background-color: #e3e3e3;
  width: 300px;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  font-size: 1.2em;
}

select {
  background-color: #61dafb;
  border: 1px solid red;
  outline: none;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #707070 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 10px;
  /*border: 3px solid #ffffff;*/
}


